config-entorno/webpack/PlatziVideo/.babelrc

crear-app-react/compatibilidad-navegadores/PlatziVideo/package-lock.json
crear-app-react/compatibilidad-navegadores/PlatziVideo/.babelrc
crear-app-react/config-entorno/PlatziVideo/package-lock.json
crear-app-react/create-react-app-components/hola-mundo/package-lock.json
crear-app-react/jsx/hola-mundo/package-lock.json
crear-app-react/props/hola-mundo/package-lock.json
crear-app-react/state-events/hola-mundo/package-lock.json