/* OOCSS (CSS orientado a objetos - Object Oriented CSS): Separa lo que es el diseño, del contenido. 
https://www.smashingmagazine.com/2011/12/an-introduction-to-object-oriented-css-oocss/ */

.globalWidth {
    width: 100%;
}

.header {
    background: #ff0000;
}

.header {
    background: #0000ff;
}

/* BEM (Block Element Modifier): Separa en bloques, elementos y modidificacores. 
http://getbem.com/introduction/ */

/* SMACSS (Arquitectura de CSS escalable y modular - Scalable and Modular Architecture for CSS):  
    Consiste de cinco pasos:
        1) Base. Dividir el CSS en componentes base, que son los elementos de HTML. 
        2) layout: Elementos que se utilizan en la página una sola vez.
        3) Module: Son componentes que se utilizan en la aplicación más de una vez. 
        4) State: Acciones de los componentes.
        5) Theme: Cambios de los colores en el componente. 
http://smacss.com/ */

/* ITCSS (Scalable and Maintainable CSS Architecture - Triángulo invertido de CSS): Dividir el archivo
de CSS en ciertas partes para que no se combinen entre sí. 
Ayuda a evitar la especificidad (hay elementos o clases que tienen mayor peso que otros).

                            <--- Magnitud ---> (base arriba) 
<--- Especificidad ---> (arista izquierda)  <--- Claridad ---> (arista derecha)
        Ajustes
        Herramientas
        Genérico
        Elementos
        Objetos
        Componentes
        Utilidades

https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/

*/

/* Atomic Design: 
    1) Átomos: Elementos más chicos. Por ejemplo, botones.
    2) Moléculas: Conjunto de elementos.
    3) Organismos: Template, páginas.
    http://bradfrost.com/blog/post/atomic-web-design/
*/
